
/**
 * @author Sadegh Mahdilou
 * @copyright October 2013 - 2016 November
 * @since version 0.2.0
 * @version 0.6.0 Beta
 *
 */


/*
*   This file is style sheet for whole of admin panel.
*   Please don`t change to this file, it will change in every update.
*/



/* latin-ext */
@font-face{
    font-family: 'lato-light';
    font-style: normal;
    src:url('../is-include/fonts/Lato-Light.ttf')format('truetype');;
}

body {
    font-family: 'lato-light' !important;
    font-weight: 400;
    padding-top: 50px;
    background-color: rgba(238, 238, 238, 0.33);
}

a {
    text-decoration:none;
    color:rgb(33,77,250);
}
li{
    list-style: none;
}

.header-bar {
    background-color: #191818;
    padding: 0px 33px;
    height: 50px;
}
.header-bar .right {
    float: right;
}
.header-bar .btn {
    color: #EFEFEF;
    font-weight: bold;
    border: 0px ;
    border-radius: 0px;
    float: right;
}
.header-bar .btn:hover {
    background-color: #FDFDFD;
    color: #2F2F2F;
}
.fullwidth {
    width: 100%;
}
.label-header {
    color: #fefefe;
    height: 14%;
    text-align: center;
    vertical-align: middle;
    padding: 16px 0px;
    margin: 0px auto;
}
.footer-copyright {
    text-align: center;
}


/* Begin Form login */
.form-login {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 54px;
    box-shadow: 0px 0px 5px rgb(238, 238, 238);
    position: relative;
    border-radius: 5px;
}
.form-login .input-box {
    height: 40px; 
    width: 290px; 
    background-color: #FFFFFF;
}
.form-login .login-footer{
    position: absolute;
    bottom: 0px;
    font-size: 18px;
    left: 0px;
    border-top: 1px rgba(238, 238, 238, 0.82) solid;
    width: 100%;
    padding: 5px 20px;
}
/* End Form login */

/* Begin sidebar part */
    /*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

 /* Toggle Styles */

 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 172px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
}
.sidebar-nav ul {
    list-style: none;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 172px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.sidebar-nav li a i {
    width: 33px;
    margin: 0px;
    padding: 0px;
}

/* End sidebar part */

/* Begin post and edit post */
.edit-box {
    border: 1px #eee solid;
    padding: 40px;
    margin: 33px 10px;
    background-color: #fff;
}

.edit-box .title {
    margin-top: -11px;
    margin-bottom: 30px;
    border-bottom: 1px #eee solid;
    padding: 0px 0px 7px 0px;
}
.edit-box .label-input {
    font-size: 16px;
    margin: 8px 0px;
    font-style: normal;
    font-weight: 100;
}
.divsubmit{
    margin: 10px 0px ;
}


.title_document {
    padding: 6px;
    border-bottom: #eee 1px solid;
    border-left: 1px #eee solid;
    border-right: 1px #eee solid;
    /*direction: rtl;*/
    height: 50px;
}
.title_document:hover {
    background-color: #ececec;
}
.title_document ul {
    list-style: none;
}
.title_document ul li {
    /*float: right;*/
    padding: 0px 4px;

}
.title_document li:nth-child(3) a{
    color: rgb(5, 105, 0);
}
.title_document_header{
    font-weight: bold;
    padding: 6px;
    border-bottom: #C1C1C1 1px solid;
    border-left: 1px #eee solid;
    border-right: 1px #eee solid;
    /*direction: rtl;*/
    height: 40px;
}
.title_document_header ul li{
    /*float: right;*/
}
.title_document_inside {
    border-bottom: 1px #eee solid;
    padding-bottom: 7px;
}
/* End post and edit post */



/* Begin Category pages */
.title-category {
    border: 1px #eee solid;
    padding: 6px 6px;
}

.box-add-category {
    border-left: 1px #eee solid;
    height: 100%;
}
.show-category-box{

}

.show-category-box{
    border: 1px #eee solid;
}
.show-box-title-category{
    padding: 10px;
    border-bottom:1px #eee solid; 
}
.show-box-title-category div{
    border-right: 1px #eee solid;
    margin-right: 1px; 
}
.show-box-title-category div:last-child{
    border-right: none;
}
.show-category-box li {
    padding: 10px;
}
.show-category-box li:nth-child(odd){
    background-color: #eee;
}

/* End Category pages */



.message-system {
    text-align: center;
    font-size: 15px;
    color: black;
    font-weight: 700;
    letter-spacing: 5px;
    background-color: rgba(244, 67, 54, 0.85);
    width: 470px;
    padding: 10px;
    margin-bottom: -50px;
    margin: 0px auto;
    margin-top: 70px;
}