/* latin-ext */
@font-face{
    font-family: 'lato-light';
    font-style: normal;
    src:url('../is-include/fonts/Lato-Light.ttf')format('truetype');;
}

body {
    font-family: 'lato-light' !important;
    font-weight: 400;
    padding-top: 50px;
    background-color: rgba(238, 238, 238, 0.33);
}

a {
    text-decoration:none;
    color:rgb(33,77,250);
}

.header-bar {
    background-color: #191818;
    padding: 0px 33px;
    height: 50px;
}
.header-bar .right {
    float: right;
}
.header-bar .btn {
    color: #EFEFEF;
    font-weight: bold;
    border: 0px ;
    border-radius: 0px;
    float: right;
}
.header-bar .btn:hover {
    background-color: #FDFDFD;
    color: #2F2F2F;
}
.fullwidth {
    width: 100%;
}
.label-header {
    color: #fefefe;
    height: 14%;
    text-align: center;
    vertical-align: middle;
    padding: 16px 0px;
    margin: 0px auto;
}
.footer-copyright {
    text-align: center;
}


/* Begin Form login */
.form-login {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 54px;
    box-shadow: 0px 0px 7px #eee;
    position: relative;
}
.form-login .input-box {
    height: 40px; 
    width: 290px; 
    background-color: #FFFFFF;
}
.form-login .login-footer{
    position: absolute;
    bottom: 0px;
    font-size: 18px;
    left: 0px;
    border-top: 1px #eee solid;
    width: 100%;
    padding: 5px 20px;
}
/* End Form login */

/* Begin sidebar part */
    /*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

 /* Toggle Styles */

 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 172px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav ul {
    list-style: none;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 172px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* End sidebar part */

/* Begin post and edit post */
.edit-box {
    border: 1px #eee solid;
    padding: 40px;
    margin: 33px 10px;
    background-color: #fff;
}

.edit-box .title {
    margin-top: -11px;
    margin-bottom: 30px;
    border-bottom: 1px #eee solid;
    padding: 0px 0px 7px 0px;
}
.edit-box .label-input {
    font-size: 16px;
    margin: 8px 0px;
    font-style: normal;
    font-weight: 100;
}
.divsubmit{
    margin: 10px 0px ;
}


.title_document {
    padding: 6px;
    border-bottom: #eee 1px solid;
    border-left: 1px #eee solid;
    border-right: 1px #eee solid;
    /*direction: rtl;*/
    height: 50px;
}
.title_document:hover {
    background-color: #ececec;
}
.title_document ul {
    list-style: none;
}
.title_document ul li {
    /*float: right;*/
    padding: 0px 4px;

}
.title_document li:nth-child(3) a{
    color: rgb(5, 105, 0);
}
.title_document_header{
    font-weight: bold;
    padding: 6px;
    border-bottom: #C1C1C1 1px solid;
    border-left: 1px #eee solid;
    border-right: 1px #eee solid;
    /*direction: rtl;*/
    height: 40px;
}
.title_document_header ul li{
    /*float: right;*/
}
.title_document_inside {
        border-bottom: 1px #eee solid;
    padding-bottom: 7px;
}
/* End post and edit post */

#maindiv {
    border:1px #ddd solid;
    min-height:99.8%;
    background-color:#eee;
    width: 100%;
    display: inline-block;
}
#header-bar {
    display: block;
    min-height:21px;
    border:1px #ddd solid;
}
#admin-name {
    display: inline-block;
    border:1px rgba(221,221,221,0.9) solid;
    width:136px;
    float:left;
    margin:0px 0px;
    box-shadow:0px 0px 10px #ddd;
    text-align:center;
    background-color:darkgreen;
    color:white;
    padding:0px 33px;
}
#menuleft {
    min-height:150px;
    border:1px #ddd solid;
    width:200px;
    float:left;
    text-align:center;
    display:inline-block;
    float: left;
    border-bottom: 3px darkgreen solid;
    border-radius: 9px;
}

#menuleft ul {
    list-style:none;
    padding:0px;
    margin:0px;
}

#menuleft li {
    border:1px #ddd solid;
    padding:0px 12px;
    font-size: 21px;
    transition: 0.9s;
}

#menuleft li:hover {
    background-color:darkgreen;
    color:#fff;
}

#maincenter-cat {
    display:inline-block;
    padding:10px 20px;
    margin: 0px 10px;
    border: 1px #ddd solid;
}
#maincenter-post{
    display:inline-block;
    padding:10px 20px;
    margin: 0px 10px;
    border: 1px #ddd solid;
    width: 60%;    
}
#exitbtn {
    display: inline-block;
    min-width:33px;
    width:70px;
    float:right;
    padding:0px 21px;
    background-color:darkred;
    text-align:center;
    -webkit-transition:all 0.5s;
}

#exitbtn a {
    color:#FFFFFF;
    text-decoration:none;
    -webkit-transition:all 0.5s;
}

#exitbtn:hover {
    color:#FFFFFF;
    background-color:#C43100;
    -webkit-transition:all 0.5s;
}
#footer {
    display: block;
    width: 100%;
    height: 21px;
    background-color: rgb(66,66,66);
    color: rgb(243,243,243);
    text-align: center;
}
#formcat {
    border: 1px #888 solid;
    padding: 5px;
    margin: 5px;
}
#textinput {
    width: 500px;
}